# IMPORTANT inherit .env configuration
HTTPS=false
# HOST=0.0.0.0
# PORT=80
PUBLIC_URL=/
FAST_REFRESH=true
EXTEND_ESLINT=true
GENERATE_SOURCEMAP=true
ESLINT_NO_DEV_ERRORS=false

# runtime
VITE_APP_TITLE="Vite + React + TypeScript + Zustand + Tailwind"
VITE_APP_DESCRIPTION="Some description"
VITE_APP_SHORT_NAME=""
VITE_APP_SID=.env.local
VITE_APP_DEBUG=true
VITE_APP_PRODUCTION=false
VITE_APP_NAME=$npm_package_name
VITE_APP_VERSION=$npm_package_version

VITE_APP_SERVICE_URL=
VITE_APP_WEBSITE_URL=
VITE_APP_BROKER_SOCKET_URL=
VITE_APP_BROKER_SERVICE_URL=

VITE_APP_DATE_FORMAT="MMMM d, yyyy"
VITE_APP_TIME_FORMAT="HH:MM bbbb"
