# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js

# Ide
/.idea
/.vscode

# Testing
/coverage
/.coverage

# Build Outputs
/.next/
.cache
/out/
/build
/dist
/dist-ssr
/dev-dist

# --experimental-https
/certificates

# Turbo
.turbo

# Vercel
.vercel

# Typescript
*.tsbuildinfo

# Debug
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Local env files
.env
.env*.local
.env*.local*

# Misc
.DS_Store
*.pem
*.bak.*
.bak
.tmp

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
pnpm-debug.log*
lerna-debug.log*
